/* CONTENEDOR GENERAL */
.container {
  max-width: 420px;
  margin: 0 auto;      /* centra horizontal */
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center; /* centra TODOS los elementos */
}

/* INPUT Y SELECT */
select,
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px;

  text-align: center; /* texto centrado */
}

/* INVITACIÓN */
.invitacion {
  position: relative;
  width: 100%;
}

/* IMAGEN */
.invitacion img {
  width: 100%;
  display: block;
}

/* ESTIMADO / ESTIMADA / ESTIMADOS */
.tratamiento-overlay {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;

  font-size: 20px;
  letter-spacing: 1px;
  color: #496052;
  font-family: "Merriweather", Georgia, serif;
  text-align: center;
  font-weight: bold;
}


/* NOMBRE */
.nombre-overlay {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;

  max-width: 90%;
  margin: 0 auto;
  text-align: center;

  font-size: 28px;
  font-weight: 600;
  color: #496052;
  font-family: "Merriweather", Georgia, serif;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}



/* BOTÓN DESCARGA */
.descargar-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  font-size: 16px;
  background: #496052;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  text-align: center;
}

.descargar-btn:disabled {
  background: #999;
  cursor: not-allowed;
}



h1 {
    color: #dbd3ab;       /* Color azul */
    font-size: 36px;       /* Tamaño de letra grande */
    text-align: center;    /* Centrar el texto */
    font-family: 'Arial', sans-serif; /* Fuente */
    margin-top: 20px;      /* Espacio arriba */
}